{{ 'section-card-slider.css' | asset_url | stylesheet_tag }}
<script src="{{ 'section-card-slider.js' | asset_url }}" defer></script>

<s-card-slider>
  <section class="s-card-slider">

  </section>
</s-card-slider>

{% schema %}
{
  "name": "Our clients",
  "settings": []
}
{% endschema %}